#use ```pip install -r requirements``` (replace pip w pip3 if on linux)
numpy
matplotlib
jupyter
pillow
scikit-learn
scikit-image
scipy
h5py
eventlet
seaborn
pandas
imageio
python-socketio==4.6.0
python-engineio==3.13.2 
# missing openCV, download on your own
